@model Pescaria

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Pescaria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DtPescaria" class="control-label"></label>
                <input asp-for="DtPescaria" class="form-control" />
                <span asp-validation-for="DtPescaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DsLocalizacao" class="control-label"></label>
                <input asp-for="DsLocalizacao" class="form-control" />
                <span asp-validation-for="DsLocalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DsCondicoesClimaticas" class="control-label"></label>
                <input asp-for="DsCondicoesClimaticas" class="form-control" />
                <span asp-validation-for="DsCondicoesClimaticas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TpPesca" class="control-label"></label>
                <input asp-for="TpPesca" class="form-control" />
                <span asp-validation-for="TpPesca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DsMetodoPesca" class="control-label"></label>
                <input asp-for="DsMetodoPesca" class="form-control" />
                <span asp-validation-for="DsMetodoPesca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DsDetalhes" class="control-label"></label>
                <input asp-for="DsDetalhes" class="form-control" />
                <span asp-validation-for="DsDetalhes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
